.job-card {
  margin-bottom: 12px !important;

  // &__title {
  //   cursor: pointer;
  // }

  &__body {
    margin-bottom: 0;
  }

  &__button {
    margin-left: 8px;
  }

  &__icon {
    color: #969696 !important;
  }
}

.ant-modal-confirm-btns > .ant-btn-danger {
  margin-right: 4px;
  margin-left: 0 !important;
}
